@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-[90%] w-[1080px] mx-auto;
}

html {
  scroll-behavior: smooth;
}

a {
  scroll-behavior: smooth;
}

.effect {
  background: radial-gradient(
    ellipse at center,
    rgba(194, 97, 254, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.effet {
  background: linear-gradient(
    92.88deg,
    rgb(69, 94, 181) 9.16%,
    rgb(86, 67, 204) 43.89%,
    rgb(103, 63, 215) 64.72%
  );
}
